#addForm {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 50px 0 100px 0;
    z-index: 100;
    text-align: center;
    /*background-color: rgba(156, 214, 167, 0.75);*/
    background-color: rgba(100, 100, 100, 0.75);
}

#addForm div {
	margin: 0 auto;
	background-color: #9CD6A7;
	width: 60%;
	border-radius: 20px;
}

#addForm form {
	margin: 0;
	padding: 5%;
	font-family: helvetica, sans-serif;
}

#addForm * {
	border: none;
	color: #4D4C4B;
}

#addForm input:focus,
#addForm textarea:focus{
	outline: none;
    box-shadow: 0 0 10px #4D8EC7;
}

#addForm p {
	margin: 0px;
	padding: 0;
}

#addForm .header {
	text-align: center;
	background-color: rgba(125,125,125, 0.75);
	position: fixed;
	width: 100%;
}

#addForm .activity {
	width: 90%;
}

#addForm .activity > input {
	margin: 10px auto;
	width: 100%;
}

#addForm .description {
	margin: 10px auto;
	width: 90%;
}

#addForm .links {
	margin: 15px auto;
}

#addForm .links > input {
	margin: 5px;
	width: 90%;
}

#addForm .tags > input {
	margin: 15px auto;
	width: 100%;
}

#addForm textarea {
	padding: 5px;
	background-color: white;
	border-radius:  5px;
	width: 100%;
}

#addForm input {
	margin: 3px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
}

#addForm button {
	margin: 5px auto;
	width: 150px;
	padding: 7px;
	font-size: 24px;
	background-color: #76787A;
	border-radius: 5px;
	color: white;
}

#addForm .category {
	margin: 15px;
	margin-left: 25%;
	padding: 0;
	text-align: left;
}

#addForm button:focus {
	outline: none;
}

#addForm button:hover, button:focus {
	background-color: #4D4C4B;
	color: #9CD6A7;
}