/*html {
	padding: 0;
	margin: 0;
}

head {
	height: 0;
}
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
	/*background-color: rgba(200,200,200,1);*/
	background-color: #9CD6A7;
	margin: 0;
	padding: 0;
	font-family: 'helvetica', sans-serif;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Header */
.header {
	background-color: rgba(125,125,125,0.75);
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 15px 0;
}

/*Title*/
.Blokkit {
	color: #eeeeee;
	padding: 0;
	margin: 0;
}

/*categories*/
.header ul {
	margin: 0 auto;
	width: 63%;
}
.header li {
	width: 7%;
	margin: 5px 2%;
	float: left;
	list-style: none;
	text-align: center;
	color: #eeeeee;
}

.tab {
	padding-bottom: 3px;
}

.tab:hover {
	color: #9CD6A7;
}

.active {
	border-bottom: 3px solid #F26439;
}
/*add button*/

button {
	width: 15%;
	text-align: center;
    display: block;
    margin: 10px auto;
    padding: 7px 12px 7px 12px;
    border: none;
    border-radius: 3px;
    font-size: 1.25em;
    color: #eeeeee;
    background-color: #4D4C4B;
}

button:focus {
    outline: none;
}

button:hover, button:focus {
    background-color: #76787A;
   	color: #9CD6A7;

}

a:link {
	text-decoration:none;
	color: inherit;
}
a:visited {
	text-decoration:none;
	color: inherit;
}
a:hover {
	text-decoration:none;
	color: inherit;
}
a:active {
	text-decoration:none;
	color: inherit;
}

/*.add{
	width: 20%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color: rgb(200,240,200);
	border-radius: 50px;
	text-decoration: none;
}*/

.title,
.search {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.search input {
	border: 3px solid #eeeeee;
	background-color: #eeeeee;
	color: #555555;
	border-radius: 5px;
	margin-top: 175px;
	width: 100%;
	font-size: 1.25em;
	padding: 7px 12px 7px 12px;
}

.search input:focus {
    outline: none;
    box-shadow: 0 0 5px #4D8EC7;
}

/* Blocks */
ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.rowlist {
	margin-top: 10px;
	margin-left:10px;
}

.blok {
	display: inline-block;
	list-style-type: none;
	width: 31%;
	height: 200px;
	background-color: #eeeeee;
	margin: 15px 1% 15px 1%;
	padding: 0;
	overflow: hidden;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: #555555;
	font-size: 1.25em;

	/*-webkit-transition: height 500ms ease;
    -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;*/
}

.blok ul {
	margin-lepx;ft: 10%;
}

.blok h2 {
	margin-top: 5px;
	margin-bottom: 0;
}

.blok h3 {
	margin-bottom: 5px;
}

.blok p {
	margin-top: 5px;
}

.blok:hover {
	background-color: #dddddd;
}


#detailView {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    margin: 0 0 0 0;
    padding: 0;
    z-index: 100;
    background-color: rgba(100, 100, 100, 0.75);
}

#detailView > div {
    margin: 150px auto;
    padding: 1% 5%;
    width: 40%;
    color: #555555;
    background-color: #9CD6A7;
    border-radius: 10px;
    text-align: left;
    font-size: 1em;
}

#detailView div p {
	margin-bottom: 5px;
}

/*the button*/
.like {
	font-size: 12px;
	width: 12%;
	height: 20px;
	margin: 10px auto 0px;
	padding: 3px;
}

/*the tally*/
.likes {
	margin-top: 3px;
	margin-bottom: 2px;
}

.link:hover {
	color: #dddddd;
}
