/*html {
	padding: 0;
	margin: 0;
}

head {
	height: 0;
}
*/
body {
	background-color: rgba(213,213,213,1);
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(200,200,200,1);
}
/* Header */
.header {
	background-color: rgba(150,150,150,1);
	width: 100%;
	margin: 0;
	padding: 15px;
}

.Blokkit {
	color:;
	padding: 0;
	margin: 0;
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.title,
.search {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}


/* Blocks */
.rowlist {
	padding-top: 10px;
	padding-left:32px;
}

li {
	color: white;
}

h2 {
	margin: 0;
	padding: 0;
	width: 28%;
	overflow: hidden;

}

.blok {
	display: inline-block;
	list-style-type: none;
	width: 28%;
	height: 200px;
	background-color: black;
	margin: 25px;
	padding: 0;
	overflow: hidden;
	border-radius: 10px
}