/*html {
	padding: 0;
	margin: 0;
}

head {
	height: 0;
}
*/
body {
	background-color: rgba(200,200,200,1);
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(200,200,200,1);
}



/* Header */
.header {
	background-color: rgba(150,150,150,1);
	width: 100%;
	margin: 0;
	padding: 15px 0;
}

/*Title*/
.Blokkit {
	color:;
	padding: 0;
	margin: 0;
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*add button*/
.add{
	width: 20%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color: green;
	border-radius: 50px;
	text-decoration: none;
}

.title,
.search {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}


/* Blocks */
ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.rowlist {
	margin-top: 10px;
	margin-left:10px;
}

h2 {
	margin: 0;
	padding: 10px;
	width: 28%;
	overflow: hidden;

}

.blok {
	display: inline-block;
	list-style-type: none;
	width: 28%;
	height: 200px;
	background-color: rgba(225,225,225,.5);
	margin: 15px 25px 25px 35px;
	padding: 0;
	overflow: hidden;
	border-radius: 10px
}