<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/blokkit.css">
</head>
<body ng-app="blokkit">
	<div class="container" ng-controller="main">
		<div class="row">
			<div class="title">
				<h1>Blokkit</h1>
			</div>
		</div>
		<div class="row search">
			<div class="search">
<!-- 				<input type="text" placeholder="search..." ng-model="searchString.name">
 -->			</div>
		</div>
		<div class="row">
			<input type="text" placeholder="search..." ng-model="searchString.$">

			<ul>
				<li class="blok" ng-repeat="blok in bloks | filter:searchString">
					<p>{{ blok.details.verbose_name }}</p>
					<p>{{ blok.details.description }}</p>
				</li>
			</ul>
			<ul>
				<li class="blok" ng-repeat="blok in ang | filter:searchString">
					<p>{{ blok.details.verbose_name }}</p>
					<p>{{ blok.details.description }}</p>
				</li>
			</ul>
		</div>
	</div>
	
	<!--scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script src="js/blokkit.js"></script>
</body>
</html>