<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/blokkit.css">
	<link rel="stylesheet" href="css/add-form-v2.css">
</head>
<body ng-app="blokkit">
	
	<div id="addForm" ng-show="showAddForm.shown" ng-controller="form">
		<div>
			<form name="activityForm">
					
				<h2>Activity</h2>

				<div class="activity">
					<input type="text" ng-model="activity.verbose_name" name="activity" maxlength="30" placeholder="Activity Name..." required/>
				</div>

				<div class="description">
					<textarea ng-model="activity.description" name="description" rows="10" placeholder="Brief Description..." required></textarea>
				</div>

				<h2>Relevant Links</h2>

				<div class="links"> 
					<input ng-model="activity.links.link1.desc" type="text" name="link_description1" maxlength="100" placeholder="Description or Title of link..."/>
					<br />
					<input ng-model="activity.links.link1.link" type="text" name="link1" maxlength="100" placeholder="Link... (Please include http://)"/>
				</div>

				<div class="links"> 
					<input ng-model="activity.links.link2.desc" type="text" name="link_description2" maxlength="100" placeholder="Description or Title of link..."/>
					<br />
					<input ng-model="activity.links.link2.link" type="text" name="link2" maxlength="100" placeholder="Link... (Please include http://)"/>
				</div>

				<div class="links"> 
					<input ng-model="activity.links.link3.desc" type="text" name="link_description3" maxlength="100" placeholder="Description or Title of link..."/>
					<br />
					<input ng-model="activity.links.link3.link" type="text" name="link3" maxlength="100" placeholder="Link... (Please include http://)"/>
				</div>

				<div class="links"> 
					<input ng-model="activity.links.link4.desc" type="text" name="link_description3" maxlength="100" placeholder="Description or Title of link..."/>
					<br />
					<input ng-model="activity.links.link4.link" type="text" name="link3" maxlength="100" placeholder="Link... (Please include http://)"/>
				</div>

				<div class="links"> 
					<input ng-model="activity.links.link5.desc" type="text" name="link_description3" maxlength="100" placeholder="Description or Title of link..."/>
					<br />
					<input ng-model="activity.links.link5.link" type="text" name="link3" maxlength="100" placeholder="Link... (Please include http://)"/>
				</div>

				<h2>Category</h2>

				<div class="category">
					<input type="checkbox" name="category" value="sports" ng-model="activity.category1" />Sports
					<br />
					<input type="checkbox" name="category" value="art" ng-model="activity.category2" />Arts and Design
					<br />
					<input type="checkbox" name="category" value="programming" ng-model="activity.category3" />Developing and Programming
					<br />
					<input type="checkbox" name="category" value="gaming" ng-model="activity.category4" />Games
					<br />
					<input type="checkbox" name="category" value="televsion" ng-model="activity.category5" />Television Shows
					<br />
					<input type="checkbox" name="category" value="books" ng-model="activity.category6" />Books and Novels
					<br />
					<input type="checkbox" name="category" value="movies" ng-model="activity.category7" />Movies
				</div>


				<h2>Relevant Tags</h2>

				<div class="tags">
					<input ng-model="activity.tags" type="text" name="tags" maxlength="1000" placeholder="Please ensure each of your tags are separated by spaces..." />
				</div>
				<button type="button" ng-click="showAddForm.shown=false">Cancel</button>
				<button type="submit" ng-click="submitForm()">Blokk</button>
			</form>
		</div>
	</div><!--addForm-->

	<!--main-->
	<div class="container" ng-controller="main">
		<div class="header">
			<div class="row">
				<div class="title">
					<h1 class="Blokkit">Blokk - It</h1>
				</div>
			</div>
			<div class="row">
				<button ng-click="showAddForm.shown = !showAddForm.shown">Add Activity</button>
			</div>
			<div class="row">
				<ul>
					<li tab class="tab active" ng-click="setCategory('')"><a href="">All</a></li>
					<li tab class="tab" ng-click="setCategory('sports')"><a href="">Sports</a></li>
					<li tab class="tab" ng-click="setCategory('design')"><a href="">Design</a></li>
					<li tab class="tab" ng-click="setCategory('coding')"><a href="">Coding</a></li>
					<li tab class="tab" ng-click="setCategory('games')"><a href="">Games</a></li>
					<li tab class="tab" ng-click="setCategory('tv')"><a href="">TV</a></li>
					<li tab class="tab" ng-click="setCategory('books')"><a href="">Books</a></li>
					<li tab class="tab" ng-click="setCategory('movies')"><a href="">Movies</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="row search">
				<div class="search">
					<input type="text" placeholder="search..." ng-model="searchString.$">
					{{category.cat}}
				</div>
			</div>
			<ul>
				<li class="blok" ng-repeat="blok in bloks | filter: category |filter:searchString" ng-click="showDetails = !showDetails">
					<p class="likes">likes: {{blok.activity.likes}}</p>
					<h2>{{ blok.activity.verbose_name }}</h2>
					<p>{{ blok.activity.description }}</p>
					<div ng-show="showDetails" id="detailView">
						<div>
							<h2>{{ blok.activity.verbose_name }}</h2>
							<p>{{ blok.activity.description }}</p>
							<div ng-show="{{blok.activity.links}}">
								<h3>Get Started here:</h3>
								<ul>
									<li ng-repeat="link in blok.activity.links">
										<a href="{{ link.link }}">{{ link.desc }}</a>
									</li>
								</ul>
							</div>
						<button type="button" class="like" ng-click="like(blok)">Like</button>
						</div>
					</div>
				</li>
			</ul>
			<button class="load-more" type="button" ng-click="load_more()">Load More</button>
		</div>
	</div>
	
	<!--scripts-->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script src="js/blokkit.js"></script>
</body>
</html>